<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inventory List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Inventory List</h1>
	<!-- Add Hyperlink -->
	<a href="AddInventory.html" th:href="@{/inventory/add}">New Inventory</a>

	<h2 th:if="${not #lists.isEmpty(inventories)}">Product List</h2>
	<table th:if="${not #lists.isEmpty(inventories)}"  class="table">
		<tr>
			<th >inventoryId</th>
			
			<th >supplierName</th>
			<th >brandId</th>
			<th >brandName</th>
			<th >itemName</th>
			<th >description</th>
			<th >type</th>
			<th >category</th>
			<th >subCategory</th>
			<th >originalPrice</th>
			<th >wholesalePrice</th>
			<th >retailPrice</th>
			<th >partnerPrice</th>
			<th >units</th>
			<th >Edit Inventory</th>

		</tr>
		<tr th:each="inventory:${inventories}" class="table-row">
			<td th:text=${inventory.inventoryId}>Part Num</td>
		
			<td th:text=${inventory.supplierName}>Min Qty</td>
			<td th:text=${inventory.brandId}>Pdt Name</td>
			<td th:text=${inventory.brandName}>Desc</td>
			<td th:text=${inventory.itemName}>Colour</td>
			<td th:text=${inventory.invdescription}>Dimension</td>
			<td th:text=${inventory.invtype}>Manu</td>
			<td th:text=${inventory.category}>Loc</td>
			<td th:text=${inventory.subCategory}>Unit Price</td>
			<td th:text=${inventory.originalPrice}>Colour</td>
			<td th:text=${inventory.wholesalePrice}>Dimension</td>
			<td th:text=${inventory.retailPrice}>Manu</td>
			<td th:text=${inventory.partnerPrice}>Loc</td>
			<td th:text=${inventory.units}>Unit Price</td>
			<td><a href="Editinventory.html" th:href="@{/inventory/edit/}+${inventory.inventoryId}">Edit</a></td>	
			<!-- <td th:if="${not #lists.isEmpty(session.empsession) and (session.empsession.role == T(com.nus.invms.domain.RoleType).ADMIN)}">
				<a href="EditProduct.html" th:href="@{/product/edit/}+${product.partNumber}">Edit</a></td>
			<td th:if="${not #lists.isEmpty(session.empsession) and (session.empsession.role == T(com.nus.invms.domain.RoleType).ADMIN)}">
				<a href="DeleteProduct.html" th:href="@{/product/delete/}+${product.partNumber}">Delete</a></td> -->
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>