<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inventory Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Inventory Form</h1>
	<form action="#" th:object="${inventory}" th:action="@{/inventory/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{inventoryId}">
		</fieldset>
		<fieldset>
			Product Number <select th:field="*{product.productName}">
				<option th:each="product:${products}" th:value="${product.productName}"
					th:text="${product.productName}"></option>
			</select>
		</fieldset> 
		 <fieldset>
			Supplier Name <input type="text" th:field="*{supplierName}">
			<p th:if="${#fields.hasErrors('supplierName')}"
				th:errors="*{supplierName}"></p>
		</fieldset>
		<fieldset>
			Brand Id <input type="text" th:field="*{brandId}">
			<p th:if="${#fields.hasErrors('brandId')}" th:errors="*{brandId}"></p>
		</fieldset>

		<fieldset>
			Brand Name <input type="text" th:field="*{brandName}">
			<p th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}"></p>
		</fieldset>
		<fieldset>
			Item Name <input type="text" th:field="*{itemName}">
			<p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
		</fieldset>
		<fieldset>
			Description <input type="text" th:field="*{description}">
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
		</fieldset>
		<fieldset>
			Type <input type="text" th:field="*{type}">
			<p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
		</fieldset>
		<fieldset>
			Category <input type="text" th:field="*{category}">
			<p th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
		</fieldset>
		<fieldset>
			Subcategory <input type="text" th:field="*{subCategory}">
			<p th:if="${#fields.hasErrors('subCategory')}" th:errors="*{subCategory}"></p>
		</fieldset>
		<fieldset>
			Original Price <input type="text" th:field="*{originalPrice}">
			<p th:if="${#fields.hasErrors('originalPrice')}" th:errors="*{originalPrice}"></p>
		</fieldset>
		<fieldset>
			Whole Price <input type="text" th:field="*{wholesalePrice}">
			<p th:if="${#fields.hasErrors('wholesalePrice')}" th:errors="*{wholesalePrice}"></p>
		</fieldset>
		<fieldset>
			Retail Price <input type="text" th:field="*{retailPrice}">
			<p th:if="${#fields.hasErrors('retailPrice')}" th:errors="*{retailPrice}"></p>
		</fieldset>
		<fieldset>
			Partner Price <input type="text" th:field="*{partnerPrice}">
			<p th:if="${#fields.hasErrors('partnerPrice')}" th:errors="*{partnerPrice}"></p>
		</fieldset>
		<fieldset>
			Units <input type="text" th:field="*{units}">
			<p th:if="${#fields.hasErrors('units')}" th:errors="*{units}"></p>
		</fieldset> 
		
		<fieldset>
			<input type="submit" value="Save" /> &nbsp; &nbsp; <input
				type="reset" value="Reset" />
		</fieldset>

	</form>  
	<br />
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>