<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Order List</h1>
	<!-- Add Hyperlink -->
	<a href="AddOrder.html" th:href="@{/order/add}">New Order</a>

	<h2 th:if="${not #lists.isEmpty(orderList)}">Order List</h2>
	<table th:if="${not #lists.isEmpty(orderList)}"  class="table">
		<tr>
			<th>Order Id</th>
			<th>Employee Id</th>
			<th>Order Date</th>
			<th>Date Received</th>
			<th>Order Quantity</th>
			<th>Receive Quantity</th>
			<th>Part Number</th>
			<th>Order Type</th>
			<th>Status</th>

		</tr>
		<tr th:each="order:${orderList}" >
			<td th:text=${order.orderId}>Order Id</td>
			<td th:text=${order.employee.ID}>Employee Id</td>
			<td th:text=${order.orderDate}> Order Date</td>
			<td th:text=${order.dateReceivedReturned}> Date Received/Returned</td>
			<td th:text=${order.quantityOrdered}> Order Quantity</td>
			<td th:text=${order.quantityReceived}> Receive Quantity</td>
			<td th:text=${order.product.partNumber}> Part Number</td>
			<td th:text=${order.type}> Order Type</td>
			<td th:text="${order.status}"> Status</td>
			<td th:if="${not #lists.isEmpty(session.empsession) and (session.empsession.role == T(com.nus.invms.domain.RoleType).ADMIN)}">
				<a href="EditOrder.html" th:href="@{/order/edit/}+${order.orderId}">Edit</a></td>
<!-- 			<td th:if="${not #lists.isEmpty(session.empsession) and (session.empsession.role == T(com.nus.invms.domain.RoleType).ADMIN)}">
				<a href="DeleteOrder.html" th:href="@{/order/delete/}+${order.orderId}">Delete</a></td> -->
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>