
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>indexPage</title>
</head>
<body>
  <header th:insert="fragments/general.html :: header"></header>
  <div th:replace="fragments/general.html :: menu" ></div>
  <div style="text-align:center; font-family:Lucida Handwriting">
	  <img width="100" height="100" th:src="@{/image/mechanic_logo.png}" />
	  <h1>Welcome to The ISS Inventory Management System!</h1>
	  <p>Our mission is to bring you the best service.</p>
  </div>
  <div th:replace="fragments/general.html :: footer"></div>

The DAT file has been generated. 

	<h1>Search Form</h1>
	<form action="" th:object="${inventory}" method="GET">
		<fieldset>
			<input type="text" th:value="${keyword}" required />
		</fieldset>
		<fieldset>
			<button type="submit">Search</button>
		</fieldset>
	</form>
	
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>

