
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usages List</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Part Usage</h1>
	<!-- Add Hyperlink -->
	<a href="AddBooking.html" th:href="@{/partusage/add}">New Part Usage</a>

	<h2 th:if="${not #lists.isEmpty(pusages)}">Part Usage History</h2>
	<table th:if="${not #lists.isEmpty(pusages)}" >
		<tr >
			<th>Transaction Id</th>
			<th>Employee Name</th>
			<th>Part Number</th>
			<th>Quantity Used</th>
			<th>Date of Use</th>
		</tr>
		<tr th:each="partUsage:${pusages}">
			<td th:text=${partUsage.transactionId}>Transaction Id</td>
			<td th:text="${partUsage.employee.name}">Name</td>
			<td th:text=${partUsage.partNumber}>User Name</td>
			<td th:text=${partUsage.quantity}>Quantity</td>
			<td th:text=${partUsage.usagedate}>Date</td>
			<td th:text=${partUsage.carplate}>Carplate</td>
			<td><a href="EditPartUsage.html"
				th:href="@{/partusage/edit/}+${partUsage.transactionId}">Edit</a></td>
			<td><a href="DeletePartUsage.html"
				th:href="@{/partUsage/delete/}+${partUsage.transactionId}">Delete</a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	
</body>
</html>