<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usage Recording Form</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Usage Recording Form</h1>
	<form action="#" th:object="${booking}" th:action="@{/partusage/save}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{transactionId}">
		</fieldset>
		<fieldset>
			Part Number <select th:field="*{member.firstName}">
				<option th:each="mname:${mnames}" th:value="${mname}"
					th:text="${mname}"></option>
			</select>
		</fieldset>
		<fieldset>
			Quantity <select th:field="*{facility.name}">
				<option th:each="fname:${fnames}" th:value="${fname}"
					th:text="${fname}"></option>
			</select>
			<fieldset>
			Car Plate <select th:field="*{facility.name}">
				<option th:each="fname:${fnames}" th:value="${fname}"
					th:text="${fname}"></option>
			</select>
		</fieldset>
		
	<!--  	<fieldset>
			Comments:
			<textarea name="comments" th:text="*{comments}"></textarea>
		</fieldset>
		
		-->
		<fieldset>
			<input type="submit" value="Save"/>
			&nbsp; &nbsp; 	
			<input type="reset" value="Reset"/>
		</fieldset>

	</form>
	<br />
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>